input{
    font-family: inherit;
    padding:5px;
} 
#content #details img{
    width:45%;
    float:left;
}
#content #details{
    color:darkblue;
    border:solid 3px darkblue;
    padding:10px;
    box-sizing:border-box;
}
#content #gebruiker_form{
    margin:auto;
    width:60%;
    padding:0 1%;
}
#content #gebruiker_form div{
    text-align:right;
    padding:5px;
    width:100%;
    box-sizing:border-box;
}
#content #details figcaption{
    text-align:center;  
}
#content #gebruiker_form table,#content #gebruiker_form table input {
    width:100%;
    box-sizing:border-box;
}
#content #details img{
    width:100%;
    float:left;
}
#content #details{
    color:darkblue;
    border:solid 3px darkblue;
    padding:10px;
    box-sizing:border-box;
    width:98%;
    margin:auto;
}
#content>table td,th, caption{
    font-family: Verdana, sans-serif;
}
#content caption{
    text-align: left;
    font-weight: bold;
    padding: 3px 0 4px 5px;
    background-color: #f07d00;
    color:white;
    border-left: 3px solid white;
    border-right:2px solid white;
}
#content td, th{

    text-align: left;
    padding: 4px 5px 4px 5px;
    vertical-align: middle;
    background-color: lightgray;
}
#content>table{
    width:95%;
    margin:auto;
}
#content>table thead th{
    background-color: red;
    font-size: 13px;
}
#content #foto_form div{
    display:block;
    clear:both;
    margin: 5px;
    padding:10px;
    width:100%;
    box-sizing:border-box;
}
#content #foto_form{
    width:50%;
    margin:auto;
}
#content input[type=submit],#content input[type=reset] {
    margin: 0 5px; 
}
#content #contacten td figure img{
    width:40px;
}
#content #contacten td>a>img{
    width:20px;
}
#content select{
    width:33%;
    margin:0 33%;
    text-align:center;   
}
#content #gebruiker_form input:required, #content #gebruiker_form select:required{
    background-color:lightblue;
}
#content #gebruiker_form input:required:valid, #content #gebruiker_form select:required:valid{
    background-color:lightblue;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}