*{
    padding:0;
    margin:0;
}
body {
    width:1020px;
    margin:20px auto;
    background-color:gray;
    font-family: Verdana,sans-serif;
    font-size:1em;
}
em{
    font-weight:bold;
    font-style:normal;
}
header{
    border-bottom:5px solid darkgray;
    padding: 10px 5px 5px 5px;
    overflow: auto;
    width: 100%;
    background-color: darkgray;
    box-sizing: border-box;  
}
header div{
    float:left;
    width:68%;
    padding:0 1%
}
header figure:last-child{
    float:right;
    width:10%;
}
header figure:last-child a{
    box-sizing:border-box;
    padding:0px;
}
header figure:last-child a:hover{
    padding:inherit;
    background-color:inherit;
    border:none;
}
header p{
    padding:5px 0 5px 10px;
}
header #boodschap{
    background-color:white;
}
header figure{
    float:left;
    width:20%;
    box-sizing:border-box;
}
header figure img{
    width:50%;
}
header figure #persoon{
    width:100%;
}
header a{
    color: black;
    text-decoration: none;
    padding:5px;
}
header a:hover{
    color: #e6e6e6;
    text-decoration: none;
}
#top{
    float:left;
    width:80.4%;
    background-color: #0075be;
    padding: 10px 10px 10px 190px;
}
nav ul li{
    list-style:none;
    box-sizing:border-box;
}
#top ul li a{
    color: #e6e6e6;
    text-decoration: none;
    padding:10px 10px 10px 10px;
    display:inline;
    box-sizing:border-box;
    width:100%;
    height:2.5em;  
}
#left{
    float:left;
    width:100px;
    background-color: #0075be;
    padding:10px 10px 10px 10px;    
}
#left li a{
    color: #e6e6e6;
    text-decoration: none;
    padding:10px 10px 10px 10px;
    display:block;
    box-sizing:border-box;
    width:100%;
    height:2.5em;  
}

nav ul li a:hover, header a:hover{
    background:gray;
    color: #e6e6e6;
    text-decoration: none;
    font-weight: bold;
    padding-left:10px;  
}
nav ul li{
    padding-left:10px;  
    box-sizing:border-box;
}
/*nav ul li>ul{
    display:block;
}*/
body>section{
    overflow: auto;
    width: 100%;
    background-color:#dee4ed; 
}
footer{
    text-align:right;
    font-size: 0.5em;
    padding:10px 0;
    background-color:darkgray
}
body>section>#content { 
    padding:20px 0px 20px 0;
    width:820px;
    border-left:200px solid #0075be;       
}